<!DOCTYPE html>
<html lang="en">

  <head>
      <title>Measure - Home</title>
      <meta charset="utf-8">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-default" style="background-color: rgba(15,24,25,0.91);">
        <div class="container-fluid">
        <div id="navbar"  class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="/home">MEASURE</a></li>
              <li><a href="/home">Home</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/account">Account</a></li>
          </ul>
        </div>
        </div>
    </nav>

    <h1> HOME </h1>
    <hr>



  </body>
</html>